* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat";
}
main{
text-align: center;
}
.img{

}
.text{
    margin: 20px;
}
.kartinka{
    margin-top: 20px;
    max-width: 1260px;
}
.povar{
    margin: 5px;
    margin-bottom: 50px;
    margin-top: 30px ;
}
.eda{
    margin: 5px;
}
.blochok{
max-width: 1300px;
color: black;
}